<form method="post" action="/recipes">
  <input type="text" name = "recipe[name]">
  <input type="text" name = "recipe[ingredients]">
  <input type="text" name= "recipe[cook_time]">
  <input type="submit" name="submit">
</form>